#all-posts-view,
#following-posts-view,
#profile-view,
#create-post {
  max-width: 600px;   
  margin: 20px auto;    
  padding: 15px;
}

#post-submit {
    margin-top: 0.5em;
}

.post-container {
  margin-bottom: 15px;
  padding: 15px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.post-container:hover {
  border: 1px solid #c5c5c5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}

.details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
}

.details .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.details .author {
  font-weight: bold;
  margin-right: auto;  
}

.details .timestamp {
  font-size: 12px;
  color: #999;
}

.post-container p {
  font-size: 15px;
  margin: 10px 0;
}

.actions, .post-container > div:last-child {
  margin-top: 8px;
  font-size: 14px;
}

.unliked {
  color: black;
  cursor: pointer;
}

.liked {
  color: #007bff;
  cursor: pointer;
}

#following-posts,
#all-posts,
.author,
.actions, .post-container > div:last-child {
  cursor: pointer;
  transition: transform 0.2s ease;
}

#following-posts:hover,
#all-posts:hover,
.actions:hover {
  transform: scale(1.05);
}


