body {
  font-family: "Roboto", sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
  top: -5%;
  left: -5%;
}

.auth-wrapper {
  min-height: 90vh;
  display: flex;
  justify-content: start;
  align-items: center;
}

.auth-container {
  width: 400px;
  text-align: left;
  margin-left: 1rem;
}

.auth-container h2 {
  color: white;
}

#all-posts-view,
#following-posts-view,
#profile-view,
#create-post {
  max-width: 800px;   
  margin: 20px auto;    
  padding: 15px;
}

#post-submit {
  margin-top: 0.5em;
}

.profile-container,
.post-container {
  margin-bottom: 15px;
  padding: 15px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.profile-container { text-align: center; }

.profile-container:hover,
.post-container:hover {
  border: 1px solid #c5c5c5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}

.author {
  cursor: pointer;
}

.details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
}

.details .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.details .author {
  font-size: 1.1em;
  font-weight: bold;
  margin-right: auto;  
}

.details .timestamp {
  font-size: 12px;
  color: #999;
}

.post-container p {
  font-size: 1em;
  margin: 10px 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  font-size: 14px;
}

.post-container .like-btn {
  font-size: 1em;
}

.unliked {
  color: black;
}

.liked {
  color: #007bff;
  font-weight: bold;
}

.profile-container .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  margin-top: 15px;
  transition: transform 0.2s ease;
}

.profile-container .avatar:hover {
  transform: scale(1.1);
}

.handle {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.follows {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 14px;
}

.follow-btn {
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.follow-btn:hover {
  transform: scale(1.075);
  color: #007bff;
}

.followed {
  color: #007bff;
}

.followed:hover {
  color: rgb(236, 75, 75);
}

.like-btn,
.edit-btn,
.save-edit-btn {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.like-btn:hover,
.edit-btn:hover,
.save-edit-btn:hover {
  transform: scale(1.1);
  color: #007bff;
}

.edit-box {
  width: 100%;
  min-height: 80px;
  font-size: 1em;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

@keyframes hide {
  0% {
      opacity: 1;
  }
  25% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.alert {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 800px;
  z-index: 999;
  animation-name: hide;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.navbar {
  background: none;
  box-shadow: none;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 1rem;
  transition: transform 0.2s ease;
}

.navbar-brand:hover {
  transform: scale(1.1);
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.25rem;
}

.navbar-nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 1.5rem;
}

.navbar-nav .auth {
  margin-left: auto;
  display: flex;
  align-items: end;
  gap: 0.25rem;
}

#current-user:hover {
  color: #007bff;
}

.nav-link {
  cursor: pointer;
  font-weight: 500;
  color: #333;
  transition: color 0.2s, transform 0.2s ease;
}

.nav-link:hover {
  color: #007bff;
  transform: scale(1.1);
}

.nav-link.active {
  color: #007bff;
  transform: scale(1.1);
}

.nav-link.active:hover {
  color: #007bff;
}



